
  <div class="globe"></div>
  <div class="grid-container">
    <div *ngIf="!blue" class="grid-item"><button [disabled]="blue" mat-raised-button class="blue" (click)="openDialog('blue')"></button><span>London</span></div>

    <div *ngIf="!red" class="grid-item"><button [disabled]="red" mat-raised-button class="red" (click)="openDialog('red')"></button><span>Paris</span></div>
    <div *ngIf="!green" class="grid-item"><button [disabled]="green" mat-raised-button class="green" (click)="openDialog('green')"></button><span>Rio de Janeiro</span></div>
    <div *ngIf="!yellow" class="grid-item"><button [disabled]="yellow" mat-raised-button class="yellow" (click)="openDialog('yellow')"></button><span>Beijing</span></div>
    <div *ngIf="!orange" class="grid-item"><button [disabled]="orange" mat-raised-button class="orange" (click)="openDialog('orange')"></button><span>Moscow</span></div>
    <div *ngIf="!pink" class="grid-item"><button [disabled]="pink" mat-raised-button class="pink" (click)="openDialog('pink')"></button><span>Milan</span></div>
  </div>


